<h1>{{ collection.title }}</h1>

<form method="get" action="{{ collection.url }}">

<section id="collection-products">
  {% paginate collection.products by 3 %}

  <ul class="product-list product-list-{{ collection-view }}">
  {% for product in collection.products %}
    <li class="product">
      <a href="{{ product.url }}">
        <img class="product-image" src="{{ product.featured_image | product_img_url: 'small' }}" />
        <span class="product-title">{{ product.title }} ({{ product.price | money }})</span>
        {% if collection-view == 'list' %}
        <div class="product-details">
          {{ product.description | strip_html }}
        </div>
        {% endif %}
      </a>
    </li>
  {% endfor %}
  </ul>

  {% include 'pagination' %}

  {% endpaginate %}
</section>

<section id="collection-controls">

  <label>Category</label>
  <ul class="filter-list">
    <li>
      {% if collection.handle == 'all' %}
      <span>Any</span>
      {% else %}
      <a href="/collections/all">Any</a>
      {% endif %}
    </li>
    {% for category_collection in collections %}
    <li>
      {% if category_collection.handle == collection.handle %}
      <span>{{ category_collection.title }}</span>
      {% else %}
      <a href="{{ category_collection.url }}">{{ category_collection.title }}</a>
      {% endif %}
    </li>
    {% endfor %}
  </ul>

  <label>Filter by...</label>
  <ul class="filter-list">
    {% for tag in collection.tags %}
    <li>
      {% if current_tags contains tag %}
        {{ '&#9745;' | append: tag | link_to_remove_tag:tag }}
      {% else %}
        {{ '&#9744;' | append: tag | link_to_add_tag:tag }}
      {% endif %}
    </li>
    {% endfor %}
  </ul>

  <hr />

  <label for="view">View as...</label>
  <select id="view" name="view" data-update-collection>
    <option value="grid" {% if collection-view == 'grid' %}selected="selected"{% endif %}>Grid</option>
    <option value="list" {% if collection-view == 'list' %}selected="selected"{% endif %}>List</option>
  </select>

  <label for="sort_by">Sort by...</label>
  <select id="sort_by" name="sort_by" data-update-collection>
    <option value="manual" {% if collection.default_sort_by == 'manual' %}selected="selected"{% endif %}>Featured</option>
    <option value="price-ascending" {% if collection.default_sort_by == 'price-ascending' %}selected="selected"{% endif %}>Price: Low to High</option>
    <option value="price-descending" {% if collection.default_sort_by == 'price-descending' %}selected="selected"{% endif %}>Price: High to Low</option>
    <option value="title-ascending" {% if collection.default_sort_by == 'title-ascending' %}selected="selected"{% endif %}>A-Z</option>
    <option value="title-descending" {% if collection.default_sort_by == 'title-descending' %}selected="selected"{% endif %}>Z-A</option>
    <option value="created-ascending" {% if collection.default_sort_by == 'created-ascending' %}selected="selected"{% endif %}>Oldest to Newest</option>
    <option value="created-descending" {% if collection.default_sort_by == 'created-descending' %}selected="selected"{% endif %}>Newest to Oldest</option>
    <option value="best-selling" {% if collection.default_sort_by == 'best-selling' %}selected="selected"{% endif %}>Best Selling</option>
  </select>

  <p class="js-hide">
    <button type="submit">Update</button>
  </p>

</section>

</form>
