{% if paginate.parts.size > 0 %}
<ul class="pagination">
  {% if paginate.previous %}
      <li><a href="{{ paginate.previous.url }}" title="{{ paginate.previous.title }}">&larr;</a></li>
  {% else %}
      <li class="disabled"><span>&larr;</span></li>
  {% endif %}

  {% for part in paginate.parts %}
    {% if part.is_link %}
      <li>{{ part.title | link_to: part.url }}</li>
    {% else %}
      {% if part.title == paginate.current_page %}
        <li class="active"><span>{{ part.title }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><span>{{ part.title }}</span></li>
      {% endif %}
    {% endif %}
  {% endfor %}

  {% if paginate.next %}
    <li><a href="{{ paginate.next.url }}" title="{{ paginate.next.title }}">&rarr;</a></li>
  {% else %}
    <li class="disabled"><span>&rarr;</span></li>
  {% endif %}
</ul>
{% endif %}
<p class="pagination-text">
  Showing {{ paginate.current_offset | plus: 1 }} - {% if paginate.next %}{{ paginate.current_offset | plus: paginate.page_size }}{% else %}{{ paginate.items }}{% endif %} of {{ paginate.items }}
</p>
