<!DOCTYPE html>
<html>
  <head>
    <title>{{ shop.name | escape }}</title>
    <meta name="description" content="{{ shop.description }}" />
    {{ content_for_header }}
    {{ 'normalize.css' | asset_url | stylesheet_tag }}
    {{ 'styles.css' | asset_url | stylesheet_tag }}
  </head>
  <body class="no-js">
    <nav id="navbar">
      <a id="navbar-brand" href="/products/candle">The Candle Store</a>
      <a href="/collections/all">Shop</a>
    </nav>
    <section id="content">
      {{ content_for_layout }}
    </section>

    {{ 'jquery-1.11.3.min.js' | asset_url | script_tag }}

    {% if template contains 'product' %}
    {{ 'option_selection.js' | shopify_asset_url | script_tag }}
    <script type="text/javascript">
      (function($) {
        var onVariantSelected = function(variant, selector) {

          // Update price display.
          var formattedPrice = Shopify.formatMoney(variant.price, "");
          $('#product-price').text(formattedPrice);

          // Enable or disable the Add to Cart button.
          $('#add-to-cart').attr('disabled', variant.available ? null : 'disabled');

          // Update the featured image.
          if(variant.featured_image) {
            var sizedImageUrl = Shopify.Image.getSizedImageUrl(variant.featured_image.src, 'medium');
            $('#featured-image').attr('src', sizedImageUrl);
          }

        };

        // Instantiate the option selectors.
        var optionSelectors = new Shopify.OptionSelectors("product-select", { product: {{ product | json }}, onVariantSelected: onVariantSelected, enableHistoryState: true });

        // Create an event listener to set a specific variant when clicking on image thumbnails.
        $(document).on('click', '[data-change-variant]', function(e) {
          e.preventDefault();
          optionSelectors.selectVariant($(this).data('changeVariant'));
        });

        // Create an event listener to set a specific variant option when clicking on swatches.
        $(document).on('click', '[data-change-option]', function(e) {
          e.preventDefault();
          var optionIndex = parseInt($(this).data('changeOption')), optionValue = $(this).data('changeValue');
          if(optionSelectors.optionExistInSelect(optionSelectors.selectors[optionIndex].element, optionValue)) {
            $(optionSelectors.selectors[optionIndex].element).val(optionValue).trigger('change');
          }
        });

      }(jQuery));
    </script>
    {% endif %}

    {% if template contains 'collection' %}
    <script type="text/javascript">
      (function($) {

        // Create an event listener to auto-submit the collection filter form on select change.
        $(document).on('change', '[data-update-collection]', function(e) {
          $(this).closest('form').submit();
        });

        // Override the form submit to fetch via Ajax and update history.
        $(document).on('submit', '#collection-form', function(e) {
          e.preventDefault();
          var url = $(this).attr('action'), data = $(this).serialize();
          $('#content').load(url + ' #content', data, function() {
            window.history.pushState({}, null, url + '?' + data);
          });
        });

      }(jQuery));
    </script>
    {% endif %}

    <script type="text/javascript">
      // Remove the JS flag on the body.
      $('body').removeClass('no-js');
    </script>

  </body>
</html>
