<!DOCTYPE html>
<html>
  <head>
    <title>{{ shop.name | escape }}</title>
    <meta name="description" content="{{ shop.description }}" />
    {{ content_for_header }}
    {{ 'normalize.css' | asset_url | stylesheet_tag }}
    {{ 'styles.css' | asset_url | stylesheet_tag }}
  </head>
  <body>
    <nav id="navbar">
      <a id="navbar-brand" href="/products/candle">The Candle Store</a>

      <a id="navbar-cart" href="/cart">Cart ({{ cart.total_price | money }})</a>
    </nav>
    <section id="content">
      {{ content_for_layout }}
    </section>

    {{ 'jquery-1.11.3.min.js' | asset_url | script_tag }}

  </body>
</html>
