<h1>{{ collection.title }}</h1>

<section id="collection-products">
  {% paginate collection.products by 12 %}

  <ul class="product-list">
  {% for product in collection.products %}
    <li class="product">
      <a href="{{ product.url }}">
        <img class="product-image" src="{{ product.featured_image | product_img_url: 'small' }}" />
        <span class="product-details">{{ product.title }} ({{ product.price | money }})</span>
      </a>
    </li>
  {% endfor %}
  </ul>

  {% endpaginate %}
</section>

<section id="collection-controls">

</section>
